<div id='container'>
    <!-- Your code here -->

    <div class='navigation'>
        <ul>
            <li><a href='#/links' class='index'>All Links</a></li>
            <li><a href='#/shorten' class='create'>Shorten</a></li>
            <li><a href='' class='logout' ng-click="signout()">Logout</a></li>
        </ul>
    </div>

      <form name='shortlyForm' ng-submit="addLink()" novalidate>
        <input class='text' type='url' ng-model='link.url' name='link' placeholder="Enter your url here" required ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"/>
        <input type='submit' value='Shorten'/>
      </form>
    <img ng-if='loading'class='spinner' src='../assets/spiffygif_46x46.gif'>
    <div ng-if='shortlyForm.link.$error.required && shortlyForm.$dirty' class='message'>
        <h2>Url required</h2>
    </div>
    <div ng-show='shortlyForm.link.$error.url && shortlyForm.$dirty' class='message'>
        <h2>Not a valid url</h2>
    </div>
</div>
